In [1]:
import pandas as pd
import csv as csv

In [13]:
# Load the data into a pandas DataFrame
name = 'data'
df = pd.read_csv("{}.csv".format(name))
# Convert the Date/Time column to a datetime type
df['Date'] = pd.to_datetime(df['Date'])
df.rolling(window=3,center=True,method='single')

Rolling [window=3,center=True,axis=0,method=single]

In [14]:
df.head(5)

                 Date  Close   High    Low   Open  Volume         day
0 2018-08-13 09:00:00  942.9  943.5  942.9  943.5     975  2018-08-13
1 2018-08-13 09:01:00  943.1  943.1  942.9  943.0     220  2018-08-13
2 2018-08-13 09:02:00  943.5  943.6  943.0  943.0     121  2018-08-13
3 2018-08-13 09:03:00  943.4  943.4  943.3  943.3     135  2018-08-13
4 2018-08-13 09:04:00  943.1  943.2  943.0  943.2     361  2018-08-13